body, html, #root {
  margin: 0;
  padding: 0;

}
  .app {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

    .app-header {
      height: 8vh;
      width: 100%;
      background: black;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
    }

      #title {
        margin: 0px;
        font-size: 60px;
        height: 100%;
        padding: 0 0 0 0;
        color: gold;
      }

      @media screen and (max-width: 500px), (max-height: 700px){
        #title {
          font-size: 40px;
        }
      }
      @media screen and (min-width: 501px) and (max-width: 830px) and (min-height: 701px){
        #title {
          font-size: 60px;
        }
      }

    #main-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: 92vh;
    }

/*LocationsList Compoonent*/
      #info-container {
        width: 20%;
        background: gold;
        display: block;
      }

        #search-container {
          height: 8%;
        }

          input {
            padding: 0 0 0 5px;
            border-width: 0;
            width: 100%;
            font-size: 15px;
            height: 100%;
          }

        #list-container {
          height: 92%;
          overflow-y: scroll;
        }

          ul {
            list-style-type: none;
            padding: 0 0 0 0px;
            margin: 0;
            height: 100%;
          }


          li {
            padding: 5px 0 5px 5px;
            font-size: 25px;
            border-style: solid;
            border-width: 1px;
          }

          @media screen and (max-width: 830px) {
            input {
              font-size: 15px;
            }
            li {
              font-size: 20px;
            }
          }

/*map Container is being specified at 92vh*/
      .map-section {
        height:100%;
        width: 80%;
      }

/*Sidebar functionality and page formatting for small screens */
@media screen  and (max-width: 575px) {
  .app-header {
    display: grid;
      grid-template-columns: 90% 10%;
  }


  #hamburger {
    float: right;
    background: transparent;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0 0 0 auto;
    color: gold;
    font-size: 30px;
  }

  #info-container, .sidebar {
    width: 50%;
    height: 92vh;
    position: fixed;
    overflow-x: hidden;

  }
  .open {
    z-index: 1;
  }

  .closed {
    z-index: 0;
  }

  input {
    font-size: 12px;
  }

  li {
    font-size: 20px;
  }

  .map-section {
    width: 100%;
  }
}
